body{
  font-size: 12px;
  /*opacity: 0.5;*/
  background: url("/assets/nature.jpg") no-repeat center top;
  /*background-size: 100%;*/
  /*background-size: cover;*/
}
.parallax-container {
    height: 50;
    position: relative;
}
.container{
  background: #860202;
  opacity: 0.1;
}
i.medium {
  color: #ffffff;
}
/**
  * Donde se encuentra el formulario
  */
#Title{
  border-radius:8px;
}
#contenedor{
  /*margin: 100px auto;*/
  background: #ffffff;
  opacity: 1 !important;
  box-shadow:-9px 9px 38px 4px  #424242f1;
  border-radius:8px;
  margin-top: 5%;
  /*padding: 0px 9px 0px 9px;
  
  */
}


header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}